* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Sans-serif', sans-serif;
}

.main {
    height: 100vh;
    width: 100%;
    background-image: url(../image/pexels-r-fera-432059.jpg);
    background-size: cover;
    background-position: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-right: 8%;
    padding-left: 8%;
}

.nav__brand-text {
    color: #fff;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: lime;
}

.nav__links {
    display: inline-block;
    padding: 10px 25px;
    list-style-type: none;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

.nav__link:hover {
    color: lime;
    transition: 0.3s;
}

.btn {
    background-color: lime;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 25px;
    transition: transform 0.3s;
}

.btn:hover {
    transform: scale(1.1);
    color: #fff;
}

.content {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
}

h1 {
    color: #fff;
    margin: 20px 0px 20px;
    font-size: 60px;
}

h3 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: rgb(239, 255, 136);
    letter-spacing: 2px;
    font-size: 20px;
}


.newslatter form {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.newslatter__input-first {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid lime;
    outline: none;
    border-radius: 25px;
}

.newslatter__input-second {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 25px;
    background-color: lime;
    color: #fff;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}

.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

.about-text {
    width: 550px;
}

.about img {
    height: auto;
    width: 430px;
}

.about__main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: #fff;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: rgb(239, 255, 136);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.about__button {
    background-color: lime;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 25px;
    transition: 0.3s;
}

.about__button:hover {
    background-color: transparent;
    border: 2px solid lime;
    cursor: pointer;
}

.services {
    background: #101010;
    width: 100%;
    padding: 100px 0;
}

.title h2 {
    color: #fff;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 440px;
}

.card {
    height: 400px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0;
    color: lime;
}

h5 {
    color: #fff;
    font-size: 23px;
    margin-bottom: 15px;
}

.card__text p {
    color: rgb(239, 255, 136);
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card__button {
    background-color: lime;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 25px;
    transition: 0.3s;
}

.card__button:hover {
    color: #fff;
    background-color: transparent;
    border: 2px solid lime;
    cursor: pointer;
}

.contact {
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact__text {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact__button {
    background-color: lime;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.3s;
}

.contact__button:hover {
    background-color: transparent;
    border: 2px solid lime;
    cursor: pointer;
}
